body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool_main {
    background-color: #ffffff;
    width: 80%;
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tool_title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool_title input {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.tool_res_title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 14px;
    line-height: 1.6;
    resize: none;
}

textarea:focus {
    outline: none;
    border-color: #007BFF;
}

input[type="button"] {
    font-size: 14px;
    cursor: pointer;
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #0056b3;
}
